/*Image overlay 1*/

body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);

}

/* grid = lijnen over je website, rows = horizontaal, columns
= verticaal. LET OP: 1=begin*/
.body {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

/* grid-row/grid-column is hoe je het aangeeft per class/id/etc.
containers van de drie plaatjes verschillen, want verschillende plek,
rest hetzelfde, want zelfde opmaak */

.container {
    grid-row: 1/2;
    grid-column: 1/2;
}

.container2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.container3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.image {
  width: 100%;
  height: 615px;
  opacity: 1;
}

.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.2;
  transition: .5s ease;
  background-color: rgb(246, 248, 248);
}

/* hier zijn er ook 3 van, omdat het gaat over de hover van de containers.
Hover is een eigenschap van een container, vandaar :hover, maar je hebt 3
verschillende containers, dus moet je die apart benoemen. */

.container:hover .overlay {
  opacity: 1;
}

.container2:hover .overlay {
    opacity: 1;
}

.container3:hover .overlay {
    opacity: 1;
}

.text {
  color: black;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Julius Sans One', sans-serif;
  position: absolute;
  margin-top: 250px;
  margin-left: 110px;
  margin: center auto;
  z-index: 1;
  
}

a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

